body {
    font-family: Arial, sans-serif;
    margin:  0;
    padding:  0;
    background-color: #fff; /* Set the background color to black */
}
header {
    background-color: #343a40;
    color: #f8f9fa;
    text-align: center;
}
nav {
    background-color: #343a40;
    color: #343a40;
    padding:  15px;
}
nav ul {
    list-style-type: none;
    padding:  0;
}
nav ul div {
    display: inline;
    margin-right:  10px;
}
nav ul div li {
    display: inline;
    margin-right:  10px;
    color: #f8f9fa;
    padding: 5px;
    border-radius: 5px;
}

.newButton:hover {
    text-shadow:  0  0  10px #fff,  0  0  20px #fff,  0  0  30px #fff,  0  0  40px #fff;
}
.notebookButtonSelected {
    text-shadow:  0  0  10px #fff,  0  0  20px #fff,  0  0  30px #fff,  0  0  40px #fff;
}

#save {
    margin-left: 50%;
}

main {
    padding:  20px;
}
footer {
    background-color: #f9f9f9;
    padding:  20px;
    text-align: center;
    color: #ccc; /* This line sets the text color to white */
}

.text-box-container {
    width:  100%;
    max-width:  300px;
    margin:  0 auto;
}

.text-box {
    width:  100%;
    padding:  10px;
    border:  1px solid #ccc;
    border-radius:  4px;
    font-size:  16px;
}

#container {
    position: fixed;
    margin-top:  20px;
    width: 90%;
    height: 60%;
    border: 3px solid #343a40;
    border-radius: 5px;
}

.new-note {
    position: absolute;
    top:  20px;
    z-index:  0;
    width:   100px;
    height:   100px;
    border:   1px solid #ccc;
    margin:   2 auto;
    margin-bottom:   100px;
    text-align: center;
    background-color: #fff;
    border-radius:  0px  0px  5px  5px;
    cursor: text;
}
.note-dragger {
    position: absolute;
    z-index: 1;
    width: 102px;
    height: 120px;
    background-color: #343a40;
    border-radius: 0px 0px 0px 5px;
    cursor: move;
}

.note-sizer {
    position: absolute;
    z-index: 2;
    width: 9px;
    height: 9px;
    left: 100%;
    top: 100%;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 20px 0px 0px 0px;
    cursor: move;
}

* {
    user-select: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.context-menu-item {
    cursor: pointer;
    transition: text-shadow  0.3s ease;
}

.context-menu-item:hover {
    text-shadow:  0  0  10px #fff,  0  0  20px #fff,  0  0  30px #fff,  0  0  40px #fff;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index:  1; /* Sit on top */
    left:  0;
    top:  0;
    width:  100%; /* Full width */
    height:  100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin:  15% auto; /*  15% from the top and centered */
    padding:  20px;
    border:  1px solid #888;
    width:  30%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close-button {
    color: #aaa;
    float: right;
    font-size:  28px;
    font-weight: bold;
  }
  
  .close-button:hover,
  .close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }